body{
    margin: 0px;
}

.main-container{
    display: flex;
    width: 100%;
}
.left-container{
    position: relative;
    width: 50%;
    border: 3px solid;
    text-align: center;
    padding-top: 35%;
    padding-bottom: 15%;
    background-image: url('https://picsum.photos/200/300/?blur=1');
    background-repeat: no-repeat;
    background-size: cover;

}

.left-container a{
    text-decoration: none;
    color: azure;
    border: 2px solid;
    padding: 10px;
    font-size: 25px; 
}
.right-container{
    position: relative;
    width: 50%;
    border: 3px solid;
    padding-top: 35%;
    padding-bottom: 15%;
    background-image: url('https://picsum.photos/seed/picsum/200/300');
    background-repeat: no-repeat;
    background-size: cover;
}

.cat-container{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
}

.cat-header{
    padding-left: 20px;
    padding-top: 30px;
}

.cat-header h2{
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center;
    border: 4px solid;
    width: 190px;
}
.category{
    margin-top: 20px;
    width: 20%;
    padding-bottom: 35px;
    border: 4px solid;
    text-align: center;
}
.category div{
    padding-left: 20px;
}
.category div p{
    padding-bottom: 10px;
}
.category a{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px; 
}