.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #5D8BF4;
}

.listItem{
    margin: 10px;
    padding-left: 30px;
    width: 420px;
    height: 100px;
    background-color: #DFF6FF;
    padding-bottom: 40px;
}


.listItem h1{
    padding-top: 30px;
    color: black;
}

.list-header{
    padding: 60px;
    background-color: #051367;
}

.createlist-btn{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bolder;
    color: white;
    float: right;
    border: none;
    background-color: #051367;
}